<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RT Project</title>
  <!-- Favicons -->
  <link href="./assets/img/favicon.png" rel="icon" />
  <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link rel="manifest" href="app.webmanifest" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />

  <!-- Template Main CSS File -->
  <link href="./assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <nav class="navbar navbar-expand-lg bg-light fixed-top shadow" id="header">
    <div class="container-fluid container">
      <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
          <img src="./assets/img/logo.png" alt="" />
          <span class="d-block">RT Project</span>
        </a>
      </div>
      <!-- End Logo -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link me-3 btn btn-info fw-bold text-light" id="dashboardlink" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="navHome" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navBlog" href="#/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navAbout" href="#/about">About Us</a>
          </li>
        </ul>
        <div class="icons">
          <a href="#/checkout" title="checkout" class="fas fa-shopping-cart"></a>
        </div>
      </div>
    </div>
  </nav>

  <!-- main -->
  <main style="margin-top: 40px; overflow-x: hidden" id="home"></main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



  <footer class="footer-section">
    <div class="container">
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-6 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="index.html"><img src="./assets/img/logo.png" class="img-fluid" alt="logo" ></a>
              </div>
              <div class="footer-text">
                <p class="text-white fs-6">Reforma Trash Project merupakan wadah penjualan sampah yang bertujuan untuk pengelolaan sampah</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-4 col-md-6 mb-30 mt-4">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul class="nav-item">
                <li><a class="nav-link" href="#/login">Login</a></li>
                <li><a class="nav-link" href="#/home">home</a></li>
                <li><a class="nav-link" href="#/blog">Blog</a></li>
                <li><a class="nav-link" href="#/checkout">Checkout</a></li>
                <li><a class="nav-link" href="#/about">About Us</a></li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Subscribe</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Email Address">
                  <button><i class="fab fa-telegram-plane"></i></button>
                </form>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="copyright-area" style="text-align:center">
      <div class="copyright-text">
        <p>Copyright &copy; | SIB Batch 3 2022 - Dicoding Academy</p>
      </div>
    </div>
  </footer>

  <!-- End Footer -->
  <script src="./assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="./assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

  <script>
    $(document).ready(function () {
      $(".nav-link").on("click", function () {
        $(".nav-link").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>

  <!-- Template Main JS File -->
  <script src="./assets/js/main.js"></script>
</body>

</html>