<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seller | RT Project</title>

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
  


  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <nav class="navbar navbar-expand-lg bg-light fixed-top shadow">
    <div class="container-fluid container">
      <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
          <img src="../assets/img/logo.png" alt="">
          <span class="d-block">RT Project</span>
        </a>
      </div><!-- End Logo -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <a class="nav-link nav-icon ms-auto me-3" href="dashboard/">
          <span class="btn btn-info fw-bold text-light">Dashboard</span>
        </a>

        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main -->
  <main style="margin-top: 40px;" id="home">

    <section class="col-12 mb-5 position-relative">
      <div class="col-sm-10 col-md-6 position-absolute top-50 start-0 translate-middle-y"
        style="height: 50%;color: #012970;">
        <div class="col-12 col-sm-12 col-lg-9 container p-3">
          <h1 class="fw-bold h1">Revorma Trash Project</h1>
          <h4 class="text-start h4">Ayo jaga kebersihan Bumi kita dengan mengurangi volume sampah</h3>
        </div>
      </div>
      <img src="../assets/img/jumbotron.PNG" class="" alt="jumbotron" width="100%">
    </section>

    <section class="container pb-3" style="margin: 7rem auto;">
      <div class="row">
        <div class="col-md-6 p-3">
          <figure>
            <img
              src="https://asset.kompas.com/crops/dDeShZfgwPo3Kao7Z5bZZviP_Jw=/0x0:0x0/750x500/data/photo/2022/06/20/62afda1d4d992.jpg"
              title="perairan-jakarta-tercemar-sampah-saset-ecoton-layangkan-somasi-ke-jokowi" alt="tumpukan sampah"
              width="100%" class="rounded-4 shadow">
            <figcaption><small>Source: <a
                  href="https://megapolitan.kompas.com/image/2022/06/20/10203551/perairan-jakarta-tercemar-sampah-saset-ecoton-layangkan-somasi-ke-jokowi?page=1"
                  target="_blank" class="link-primary">kompas.com</a></small></figcaption>
          </figure>
        </div>

        <div class="col-md-6 d-flex align-items-center my-auto">
          <p class="p-4">
            Indonesia merupakan penghasil sampah plastik laut terbesar kedua di dunia setelah China (Kementerian
            Kelautan dan Perikanan, 2019). Berdasarkan data Kementerian Lingkungan Hidup dan Kehutanan (KLHK), Indonesia
            menghasilkan 30,8 juta ton sampah per tahun sampai pada tahun 2021. Faktor meningkatnya sampah di Indonesia
            adalah meningkatnya jumlah penduduk dan sampah plastik yang sulit terurai melalui air maupun tanah. Sehingga
            sampah harus dikelola dengan menerapkan reduce, reuse, dan recycle. Namun tidak semua masyarakat memiliki
            pengetahuan dan akses terkait hal tersebut. Oleh karena itu dibutuhkan sebuah platform untuk membantu
            masyarakat mendapatkan informasi terkait sampah dan lingkungan serta perantara jual beli sampah/produk
            sampah secara online.
          </p>

        </div>
      </div>

    </section>

    <section class="bg-white shadow">
      <div class="container" style="padding: 7rem 0;">
        <div class="d-grid justify-content-center">
          <div class="col-12 container p-3">
            <h1 class="fw-bold text-center" style="color: #012970;">Reforma Trash Project Hadir Untuk Indonesia</h1>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-12 p-3">
            <p class="text-center">Dengan hadirnya RT Project akan membantu mengurangi volume sampah di Indonesia.</p>
          </div>
        </div>

        <div class="col-12">
          <div class="row">        
            <div class="d-flex justify-content-around mt-5 flex-wrap">
    
              <div class="card pt-5 hover-card" style="width: 18rem;">
                <img src="../assets/img/mudah.png" class="card-img-top rounded-circle mx-auto" alt="solusi png"
                  style="width: 10rem;">
                <div class="card-body">
                  <p class="text-center my-4">Mempermudah dalam melakukan pengelolaan sampah.</p>
                </div>
              </div>
    
              <div class="card pt-5 hover-card" style="width: 18rem;">
                <img src="../assets/img/solusi.png" class="card-img-top rounded-circle mx-auto" alt="solusi png"
                  style="width: 10rem;">
                <div class="card-body">
                  <p class="text-center my-4">Menjadi solusi dalam mengurangi peningkatan jumlah sampah di Indonesia.</p>
                </div>
              </div>
    
              <div class="card pt-5 hover-card" style="width: 18rem;">
                <img src="../assets/img/jualbeli.png" class="card-img-top rounded-circle mx-auto" alt="solusi png"
                  style="width: 10rem;">
                <div class="card-body">
                  <p class="text-center my-4">Memberikan platform untuk jual beli sampah.</p>
                </div>
              </div>
    
            </div>
          </div>
        </div>

      </div>
    </section>
  </main><!-- End #main -->

  <!-- Blog -->
  <div class="container main-container mt-5" id="blog">
    <header>
      <div class="row">
        <div class="col-sm-12 head-column">
          <h1 class="fw-bold text-center" style="color: #012970;">Blog</h1>
        </div>

        <div class="col-sm-12 filter-group-wrapper">
          <div class="filter-group">
            <button class="filter-button" id="all-articles">All</button>
            <button class="filter-button" id="artikel">Artikel</button>
            <button class="filter-button" id="berita">Berita</button>
            <button class="filter-button" id="blogs">Blogs</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="article-display">
        <div class="row article-display-container">
        </div>
      </section>
    </main>

    <div class="col-lg-12">
      <ul class="page-numbers">
        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>



  <!-- About Us -->
  <section class="bg-white shadow" id="about-us">
    <div class="container" style="padding: 7rem 0;">
      <div class="d-grid justify-content-center">
        <h1 class="fw-bold text-center" style="color: #012970;">About Us</h1>
        <div class="col-12">
          <div class="row">
            <div class="d-flex justify-content-around mt-5 flex-wrap">
              <figure class="member">
                <div class="image"><img src="../assets/img/mudah.png" alt="sample70" />
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat."
                  </p>
                </div>
                <figcaption>
                  <h4><span> Nutrisha</span></h4>
                  <h5>📍Sukamaju Street, Semarang, Indonesia</h5>
                  <div class="icons"><a href="#"><i class="fa fa-instagram"></i></a><a href="mailto:hestiyuana9@gmail.com">
                      <i class="fa fa-envelope address"></i></a><a href="#"> <i class="fa fa-phone address"></i></a></div>
                </figcaption>
              </figure>
    
              <figure class="member">
                <div class="image"><img src="../assets/img/mudah.png" alt="sample79" />
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat."
                  </p>
                </div>
                <figcaption>
                  <h4><span>Valentino</span></h4>
                  <h5>📍Sukamaju Street, Semarang, Indonesia</h5>
                  <div class="icons"><a href="#"><i class="fa fa-instagram"></i></a><a href="mailto:hestiyuana9@gmail.com">
                      <i class="fa fa-envelope address"></i></a><a href="#"> <i class="fa fa-phone address"></i></a></div>
                </figcaption>
              </figure>
    
              <figure class="member">
                <div class="image"><img src="../assets/img/mudah.png" alt="sample80" />
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat."
                  </p>
                </div>
                <figcaption>
                  <h4><span> Soimah</span></h4>
                  <h5>📍Sukamaju Street, Semarang, Indonesia</h5>
                  <div class="icons"><a href="#"><i class="fa fa-instagram"></i></a><a href="mailto:hestiyuana9@gmail.com">
                      <i class="fa fa-envelope address"></i></a><a href="#"> <i class="fa fa-phone address"></i></a></div>
                </figcaption>
              </figure>
    
              <figure class="member">
                <div class="image"><img src="../assets/img/mudah.png" alt="sample79" />
                  <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat."
                  </p>
                </div>
                <figcaption>
                  <h4><span> Bambang</span></h4>
                  <h5>📍Sukamaju Street, Semarang, Indonesia</h5>
                  <div class="icons"><a href="#"><i class="fa fa-instagram"></i></a><a href="mailto:hestiyuana9@gmail.com">
                      <i class="fa fa-envelope address"></i></a><a href="#"> <i class="fa fa-phone address"></i></a></div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="copyright">
      <small><span>Copyright &copy; | SIB Batch 3 2022 - Dicoding Academy </span></small>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <script src="../assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

  <script>
    $(document).ready(function () {
      $('.nav-link').on('click', function () {
        $('.nav-link').removeClass('active')
        $(this).addClass('active');
      })
    });

  </script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
</body>

</html>