.hover-card {
  transition: .7s;
}

.hover-card:hover {
  transform: translateY(-15px);
}

.html, body {
  background-color: #e3f2fd;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #012970;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #012970;
  border-radius: 50%;
}


body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/*==========Go Green Section============*/
#gogreen{
  padding: 40px;
}

.gogreen{
  margin: 30px 0;
  display: flex;
}
.gogreen-icon .fas{
  font-size: 60px;
  color: #043891;
  margin-right: 20px;
}
.gogreen-title{
  text-transform: capitalize;
  color: #012970;
  font-size: 25px;
}
.gogreen-info{
  margin-top: 10px;
  line-height: 1.5;
  text-align: justify;
}
.gogreen-icon:hover .fas,
.gogreen-title:hover{
transition: transform 2s ease, color 2s ease;
transform: translateY(-10px);
  color: #1167fb;
  cursor: pointer;
}

@media screen and (min-width: 576px){
  .gogreen-center{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .gogreen{
      flex: 0 0 calc(50% - 16px);
  }
}
@media screen and (min-width:972px){
  .gogreen{
      flex: 0 0 calc(33.3% - 16px);
  }
}

/* Card Product */
.card_product {
  display: block; 
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s;
  
}
.card_product:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.card_product .card_price p {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #444;
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 0 3px 3px 0;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card_product figcaption {
  background-color: #2596be;
  width: 100%;
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  padding: 4px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.card-content {
  padding:10px;
  text-align:left;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.2rem;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-text {
  font-size: medium;
}

.card_text p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  padding-right: 20px;
  font-size: 0.85rem;
  line-height: 1.4rem;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  color: #0049B7;
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .hero-box-container {
    flex-wrap: wrap;
  }

  .hero-box {
    flex-basis: 50%;
  }
  .hero-box:last-of-type {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .hero-box-container {
    position: relative;
  }

  .hero-content__links {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .hero-box {
    flex-basis: 100%;
  }
}

/* Card Layanan Penggunaan */
:root {
  --title-font-size: 25px;
  --subtitle-font-size: 23px;
  --body-font-size: 15px;
  --base-font-color: #4D4F62;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #83A6D2;
  --cyan: #44D3D2;
  --red: 	#ea5353;
  --blue: #549ef2;
  --orange: #fcaf4a;
}

.main-container {
  padding: 80px 165px;
  text-align: center;
}

.header p {
  margin-top: 24px;
  line-height: calc(var(--body-font-size) + 10px);
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 65px;
}

.card {
  box-shadow: 0 15px 30px -11px var(--very-light-gray);
  border-radius: 5px;
  padding: 32px;
  text-align: left;
}

.card p {
  margin-top: 8px;
  line-height: calc(var(--body-font-size) + 10px);
}

.card svg {
  margin-top: 40px;
}

.card-middle {
  grid-row: 2/span 2;
}

.card-column-1 {
  grid-column: 1/2; 
}

.card-column-2 {
  grid-column: 2/3;
}

.card-column-3 {
  grid-column: 3/3;
}

.card-top {
  grid-row: 1/span 2;
}

.card-bottom {
  grid-row: 3/span 2;
}

.card .card-icon {
  width: 64px;
  height: 64px;
  float: right;
  text-align: left;
}

.border-cyan {
  border-top: 3px solid var(--cyan);
}

.border-red {
  border-top: 3px solid var(--red);
}

.border-blue {
  border-top: 3px solid var(--blue);
}

.border-orange {
  border-top: 3px solid var(--orange);
}

@media (max-width: 769px) {
  .main-container {
    padding: 85px 32px;
  } 
}

@media (max-width: 600px) {
  h1 {
    font-size: calc(var(--title-font-size) - 3px);
  }

  h2 {
    font-size: calc(var(--subtitle-font-size) - 3px);
  }
  
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin-top: 76px;
  }
  
  .card-column-1 {
    grid-column: 1/2; 
  }

  .card-column-2 {
    grid-column: 1/2;
  }
  
  .card-column-3 {
    grid-column: 1/2;
  }
  
  .card-top, 
  .card-bottom ,
  .card-middle {
    grid-row: span 1;
  }
}

/* New Footer */
footer {
  margin-top: 30px;
  padding: 15px 0 20px;
  background-color: var(--primary);
  width: 100%;
  background-color: #44D3D2;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Poppins,sans-serif;
}
footer .container > :first-child .brand {
  margin: 0 auto;
}
footer .container > :first-child .brand img {
  filter: brightness(0) invert(1);
}
footer .container > :first-child .brand b {
  color: white;
}
footer .container > :first-child p {
  max-width: 850px;
  color: white;
  text-align: center;
}
footer .container .sosmed {
  line-height: 1%;
}
footer .container .sosmed b {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}
footer .container .sosmed .sosmed-list {
  display: flex;
  gap: 10px;
}
footer .container .sosmed .sosmed-list a {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-4);
  font-size: 24px;
  color: white;
}
footer .container .sosmed .sosmed-list a:hover, footer .container .sosmed .sosmed-list a:focus-visible {
  background-color: var(--primary-2);
}
footer .container .copyright {
  display: block;
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.801);
  width: 95%;
  color: white;
  text-align: center;
  line-height: 50%;
}
footer .container .copyright p {
  text-align: center;
  color: #fafafa;
  font-size: 15px;
  padding: 10px 0;
  margin-bottom: 0;
  line-height: 120%;
}

/* Card Jenis Sampah */
@media (min-width: 1000px) {
  .type .demo-card:nth-child(even) .head::after, .type .demo-card:nth-child(odd) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .type .demo-card:nth-child(even) .head::before, .type .demo-card:nth-child(odd) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}

.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 4;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 5;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 6;
}

.type {
  padding: 100px 0;
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
.type h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
.type p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
.type .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  .type .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
  }
}
.type .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  .type .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
.type .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  .type .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  .type .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  .type .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .type .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  .type .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  .type .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  .type .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  .type .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  .type .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  .type .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
.type .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
.type .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
.type .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  .type .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
.type .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  .type .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
.type .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  .type .demo-card .body {
    height: 315px;
  }
}
.type .demo-card .body img {
  display: block;
  width: 100%;
}
.type .demo-card--step1 {
  background-color: #46b8e9;
}
.type .demo-card--step1 .head::after {
  border-color: #46b8e9;
}
.type .demo-card--step2 {
  background-color: #3ee9d1;
}
.type .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}
.type .demo-card--step3 {
  background-color: #ce43eb;
}
.type .demo-card--step3 .head::after {
  border-color: #ce43eb;
}
.type .demo-card--step4 {
  background-color: #4d92eb;
}
.type .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
.type .demo-card--step5 {
  background-color: #46b8e9;
}
.type .demo-card--step5 .head::after {
  border-color: #46b8e9;
}