.hover-card {
  transition: .7s;
}

.hover-card:hover {
  transform: translateY(-15px);
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #012970;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #012970;
  border-radius: 50%;
}

*/
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Card 3R */
.hero {
  width: 100%;
  min-height: 252px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.hero-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.hero-box {
  flex-basis: 33.3%;
  background: #f0f0f0;
  min-height: 300px;
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.hero-box:hover .hero-box__circle {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.1s ease, border-top-left-radius 0.1s ease, border-top-right-radius 0.1s ease;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.hero-box:hover .hero-box__circle:after {
  transform: scale(1);
  transition: 0.2s ease;
  transition-delay: 0.1s;
}
.hero-box:hover .hero-box__circle:before {
  transition: 0.2s ease;
  transition-delay: 0.1s;
  right: 100px;
  top: 100px;
}
.hero-box:hover .hero-box__body {
  color: #e6e6e6;
  transition: 0.15s ease;
  transition-delay: 0.15s;
}
.hero-box:hover .hero-box__title {
  color: white;
  transition: 0.1s ease;
  transition-delay: 0.15s;
}

.hero-box__title {
  font-weight: 600;
  position: relative;
  color: #091517;
}
.hero-box__text {
  font-size: 14px;
  color: #969696;
  position: relative;
  min-height: -8px;
}
.hero-box__body {
  font-size: 14px;
  color: #969696;
  position: relative;
}

.hero-box__circle {
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  position: absolute;
  display: block;
  right: 50px;
  top: 50px;
  transition: width 0.15s ease, height 0.15s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.3s ease, border-top-left-radius 0.3s ease, border-top-right-radius 0.3s ease;
}
.hero-box__circle:after {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -100px;
  right: -100px;
  background: rgba(255, 255, 255, 0.2);
  content: "";
  border-radius: 100rem;
  transform: scale(0);
}
.hero-box__circle:before {
  width: 25px;
  height: 25px;
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYXJyb3ctdXAtcmlnaHQiPjxsaW5lIHgxPSI3IiB5MT0iMTciIHgyPSIxNyIgeTI9IjciPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSI3IDcgMTcgNyAxNyAxNyI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-size: cover;
  transition: 0.5s ease;
}

.hero-box__circle--green {
  background-color: #00c569;
}

.hero-box__circle--blue {
  background-color: #0011c6;
}

.hero-box__circle--orange {
  background-color: #fd7d02;
}

/* Card Product */
.card_product {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card_product:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.card_product .card_price p {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #444;
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 0 3px 3px 0;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card_product figcaption {
  background-color: #73777B;
  width: 100%;
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  padding: 4px 0;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card_text p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  padding-right: 20px;
  font-size: 0.85rem;
  line-height: 1.4rem;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .hero-box-container {
    flex-wrap: wrap;
  }

  .hero-box {
    flex-basis: 50%;
  }
  .hero-box:last-of-type {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .hero-box-container {
    position: relative;
  }

  .hero-content__links {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .hero-box {
    flex-basis: 100%;
  }
}