.hover-card {
  transition: .7s;
}

.hover-card:hover {
  transform: translateY(-15px);
}

.html, body {
  background-color: #e3f2fd;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #012970;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #012970;
  border-radius: 50%;
}


body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/*==========Go Green Section============*/
#gogreen{
  padding: 40px;
}

.gogreen{
  margin: 30px 0;
  display: flex;
}
.gogreen-icon .fas{
  font-size: 60px;
  color: #043891;
  margin-right: 20px;
}
.gogreen-title{
  text-transform: capitalize;
  color: #012970;
  font-size: 25px;
}
.gogreen-info{
  margin-top: 10px;
  line-height: 1.5;
}
.gogreen-icon:hover .fas,
.gogreen-title:hover{
transition: transform 2s ease, color 2s ease;
transform: translateY(-10px);
  color: #1167fb;
  cursor: pointer;
}

@media screen and (min-width: 576px){
  .gogreen-center{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .gogreen{
      flex: 0 0 calc(50% - 16px);
  }
}
@media screen and (min-width:972px){
  .gogreen{
      flex: 0 0 calc(33.3% - 16px);
  }
}

/* Card Product */
.card_product {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card_product:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.card_product .card_price p {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #444;
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 0 3px 3px 0;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card_product figcaption {
  background-color: #73777B;
  width: 100%;
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  padding: 4px 0;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card_text p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  padding-right: 20px;
  font-size: 0.85rem;
  line-height: 1.4rem;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .hero-box-container {
    flex-wrap: wrap;
  }

  .hero-box {
    flex-basis: 50%;
  }
  .hero-box:last-of-type {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .hero-box-container {
    position: relative;
  }

  .hero-content__links {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .hero-box {
    flex-basis: 100%;
  }
}

/* Card Layanan Penggunaan */
:root {
  --title-font-size: 25px;
  --subtitle-font-size: 23px;
  --body-font-size: 15px;
  --base-font-color: #4D4F62;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #83A6D2;
  --cyan: #44D3D2;
  --red: 	#ea5353;
  --blue: #549ef2;
  --orange: #fcaf4a;
}

.main-container {
  padding: 80px 165px;
  text-align: center;
}

.header p {
  margin-top: 24px;
  line-height: calc(var(--body-font-size) + 10px);
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 65px;
}

.card {
  box-shadow: 0 15px 30px -11px var(--very-light-gray);
  border-radius: 5px;
  padding: 32px;
  text-align: left;
}

.card p {
  margin-top: 8px;
  line-height: calc(var(--body-font-size) + 10px);
}

.card svg {
  margin-top: 40px;
}

.card-middle {
  grid-row: 2/span 2;
}

.card-column-1 {
  grid-column: 1/2; 
}

.card-column-2 {
  grid-column: 2/3;
}

.card-column-3 {
  grid-column: 3/3;
}

.card-top {
  grid-row: 1/span 2;
}

.card-bottom {
  grid-row: 3/span 2;
}

.card .card-icon {
  width: 64px;
  height: 64px;
  float: right;
  text-align: left;
}

.border-cyan {
  border-top: 3px solid var(--cyan);
}

.border-red {
  border-top: 3px solid var(--red);
}

.border-blue {
  border-top: 3px solid var(--blue);
}

.border-orange {
  border-top: 3px solid var(--orange);
}

@media (max-width: 769px) {
  .main-container {
    padding: 85px 32px;
  } 
}

@media (max-width: 600px) {
  h1 {
    font-size: calc(var(--title-font-size) - 3px);
  }

  h2 {
    font-size: calc(var(--subtitle-font-size) - 3px);
  }
  
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin-top: 76px;
  }
  
  .card-column-1 {
    grid-column: 1/2; 
  }

  .card-column-2 {
    grid-column: 1/2;
  }
  
  .card-column-3 {
    grid-column: 1/2;
  }
  
  .card-top, 
  .card-bottom ,
  .card-middle {
    grid-row: span 1;
  }
}

/* New Footer */
footer {
  margin-top: 30px;
  padding: 15px 0 20px;
  background-color: var(--primary);
  width: 100%;
  background-color: #44D3D2;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .container > :first-child .brand {
  margin: 0 auto;
}
footer .container > :first-child .brand img {
  filter: brightness(0) invert(1);
}
footer .container > :first-child .brand b {
  color: white;
}
footer .container > :first-child p {
  max-width: 800px;
  color: white;
  text-align: center;
}
footer .container .sosmed {
  line-height: 1%;
}
footer .container .sosmed b {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}
footer .container .sosmed .sosmed-list {
  display: flex;
  gap: 10px;
}
footer .container .sosmed .sosmed-list a {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-4);
  font-size: 24px;
  color: white;
}
footer .container .sosmed .sosmed-list a:hover, footer .container .sosmed .sosmed-list a:focus-visible {
  background-color: var(--primary-2);
}
footer .container .copyright {
  display: block;
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.801);
  width: 95%;
  color: white;
  text-align: center;
  line-height: 50%;
}