.hover-card {
  transition: .7s;
}

.hover-card:hover {
  transform: translateY(-15px);
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #012970;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #012970;
  border-radius: 50%;
}


body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Card 3R */
.hero {
  width: 100%;
  min-height: 252px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.hero-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.hero-box {
  flex-basis: 33.3%;
  background: #f0f0f0;
  min-height: 300px;
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.hero-box:hover .hero-box__circle {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.1s ease, border-top-left-radius 0.1s ease, border-top-right-radius 0.1s ease;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.hero-box:hover .hero-box__circle:after {
  transform: scale(1);
  transition: 0.2s ease;
  transition-delay: 0.1s;
}
.hero-box:hover .hero-box__circle:before {
  transition: 0.2s ease;
  transition-delay: 0.1s;
  right: 100px;
  top: 100px;
}
.hero-box:hover .hero-box__body {
  color: #e6e6e6;
  transition: 0.15s ease;
  transition-delay: 0.15s;
}
.hero-box:hover .hero-box__title {
  color: white;
  transition: 0.1s ease;
  transition-delay: 0.15s;
}

.hero-box__title {
  font-weight: 600;
  position: relative;
  color: #091517;
}
.hero-box__text {
  font-size: 14px;
  color: #969696;
  position: relative;
  min-height: -8px;
}
.hero-box__body {
  font-size: 14px;
  color: #969696;
  position: relative;
}

.hero-box__circle {
  width: 50px;
  height: 50px;
  background: #c8c8c8;
  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  position: absolute;
  display: block;
  right: 50px;
  top: 50px;
  transition: width 0.15s ease, height 0.15s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.3s ease, border-top-left-radius 0.3s ease, border-top-right-radius 0.3s ease;
}
.hero-box__circle:after {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -100px;
  right: -100px;
  background: rgba(255, 255, 255, 0.2);
  content: "";
  border-radius: 100rem;
  transform: scale(0);
}
.hero-box__circle:before {
  width: 25px;
  height: 25px;
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYXJyb3ctdXAtcmlnaHQiPjxsaW5lIHgxPSI3IiB5MT0iMTciIHgyPSIxNyIgeTI9IjciPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSI3IDcgMTcgNyAxNyAxNyI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-size: cover;
  transition: 0.5s ease;
}

.hero-box__circle--green {
  background-color: #00c569;
}

.hero-box__circle--blue {
  background-color: #0011c6;
}

.hero-box__circle--orange {
  background-color: #fd7d02;
}

/* Card Product */
.card_product {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card_product:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.card_product .card_price p {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #444;
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 0 3px 3px 0;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card_product figcaption {
  background-color: #73777B;
  width: 100%;
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  padding: 4px 0;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card_text p {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  padding-right: 20px;
  font-size: 0.85rem;
  line-height: 1.4rem;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .hero-box-container {
    flex-wrap: wrap;
  }

  .hero-box {
    flex-basis: 50%;
  }
  .hero-box:last-of-type {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .hero-box-container {
    position: relative;
  }

  .hero-content__links {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .hero-box {
    flex-basis: 100%;
  }
}

/* Card Layanan Penggunaan */
:root {
  --title-font-size: 25px;
  --subtitle-font-size: 23px;
  --body-font-size: 15px;
  --base-font-color: #4D4F62;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #83A6D2;
  --cyan: #44D3D2;
  --red: 	#ea5353;
  --blue: #549ef2;
  --orange: #fcaf4a;
}

.main-container {
  padding: 80px 165px;
  text-align: center;
}

.header p {
  margin-top: 24px;
  line-height: calc(var(--body-font-size) + 10px);
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 65px;
}

.card {
  box-shadow: 0 15px 30px -11px var(--very-light-gray);
  border-radius: 5px;
  padding: 32px;
  text-align: left;
}

.card p {
  margin-top: 8px;
  line-height: calc(var(--body-font-size) + 10px);
}

.card svg {
  margin-top: 40px;
}

.card-middle {
  grid-row: 2/span 2;
}

.card-column-1 {
  grid-column: 1/2; 
}

.card-column-2 {
  grid-column: 2/3;
}

.card-column-3 {
  grid-column: 3/3;
}

.card-top {
  grid-row: 1/span 2;
}

.card-bottom {
  grid-row: 3/span 2;
}

.card .card-icon {
  width: 64px;
  height: 64px;
  float: right;
  text-align: left;
}

.border-cyan {
  border-top: 3px solid var(--cyan);
}

.border-red {
  border-top: 3px solid var(--red);
}

.border-blue {
  border-top: 3px solid var(--blue);
}

.border-orange {
  border-top: 3px solid var(--orange);
}

@media (max-width: 769px) {
  .main-container {
    padding: 85px 32px;
  } 
}

@media (max-width: 600px) {
  h1 {
    font-size: calc(var(--title-font-size) - 3px);
  }

  h2 {
    font-size: calc(var(--subtitle-font-size) - 3px);
  }
  
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin-top: 76px;
  }
  
  .card-column-1 {
    grid-column: 1/2; 
  }

  .card-column-2 {
    grid-column: 1/2;
  }
  
  .card-column-3 {
    grid-column: 1/2;
  }
  
  .card-top, 
  .card-bottom ,
  .card-middle {
    grid-row: span 1;
  }
}

/* New Footer */
.footer-section {
  background: #004658;
  position: relative;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #027b9a;
  padding: 25px 0;
  text-align: center;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.footer-copyright {
  background-color: #027b9a;
}